@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #dcdada;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #45b3e0;
  border-radius: 14px;
}
